html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body.gameHostBg{
    background: url(/images/bg.svg) no-repeat center center fixed;
    background-size: cover;
}

.col-xs-2{
    width: 20%;
}

.circleBase {
    border-radius: 50%;
}

.pastilleContainer{
    display: inline-block;
    margin: 20px;
}

.pastilleMission {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5REM;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
}

.mini-pastille {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.mini-pastille.red,
.pastilleMission.red{
    background-color: #ff4040; 
}

.mini-pastille.blue,
.pastilleMission.blue{
    background-color: #23a7ff; 
}

.mini-pastille.white,
.pastilleMission.white{
    background-color: white;
}

.portal-div{
    margin:0 auto;
    text-align: center;
}
.portal-form{
    max-width: 500px;
    margin:0 auto;
}

.btn-portal{
    padding: 20px;
    margin: 20px;
}

.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent #000000 transparent;
    margin: 0 auto;
    margin-top: 5px;
}

.board{
    border-radius: 3px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    text-align: center;
    min-width: 500px;
    max-width: 600px;
    margin: 10px auto;
}

.missions{
    display: inline-block;
    margin:0 auto;
    padding-bottom: 30px;
}

.nb-joueurs,
.nb-joueurs-equipes{
    position:absolute;
    bottom:0;
}
.nb-joueurs{
    left:5px;
}
.nb-joueurs-equipes{
    right:5px;
}

.nb-joueur-resistance{
    color:#23a7ff;
}

.nb-joueur-espion{
    color:#ff4040;
}

.host-code{
    position:absolute;
    top:10px;
    right:60px;
    padding: 20px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.player-card{
    background: #ffffff;
    height: 225px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.player-name{
    text-align:center;
    font-size: 1.5REM;
    font-weight: bold;    
}

.player-bar{
    text-align: center;
    border: solid 1px black;
    margin: 15px;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
}

.player-selected{
    background-color: #ffed9a;
}

.boutton-mission-background,
.boutton-vote-background{
    padding: 20px;
    width: 80%;
    text-align: center;
    margin: 20px;
}

.boutton-vote-background{
    background-color: #888;
}

.bouton-success{
    background-color: #23a7ff;
}

.bouton-fail{
    background-color: #ff4040;
}

.boutton-mission-background img,
.boutton-vote-background img{
    max-height:200px;
    max-width:100%;
}

.client-main-page{
    padding-top:51px;
}

.status-bar{
    /*position:relative;*/
}

.role-div{
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background-color: rgba(255,255,255,0.8);
    z-index:10000;
    text-align: center;
}

.role-div img{
    width:80%;
}

.role-div.hidden{
    display:none;
}

.mainContent{
    text-align: center;
}

.mainContent .btn.btn-primary{
    background: url(/images/bg.svg) no-repeat center center fixed;
    background-size: cover;
}
